* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ddd;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
}



@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: black;
      position: absolute;
      top: 60px;
      left: 0;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 15px 0;
  }

  
}
